.reactRangeDates__dayCell[data-disabled=false] {
  cursor: pointer;
}

.reactRangeDates__dayCell:hover[data-disabled=false] {
  background-color: rgba(0, 0, 0, .4);
}

.reactRangeDates__cellBoundary {
  color: red;
}


.reactRangeDates__cellRange {
  background-color: aqua;
}
